.contact {
    position: relative;
}

.contact:before {
    height: 100%;
}
.contact::after {
    background-image: url("../../../assets/images/bg.jpg");
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index:-1;
    opacity: 0.5;
    background-repeat: no-repeat;
}


.contact-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    /* align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center; */
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    position: relative;
    /* max-width: 70%; */
}


.contact-list-header {
    padding-top: 4rem;
    text-align: center;
}

.contact-list {
    width: 250px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    /* justify-content: center; */
    /* text-align: center; */
}

.contact-list-link {
    text-decoration: none;
}

.contact-list-link:hover {
    text-decoration: underline;
}

.contact-form {
    width: 400px;
    min-width: 40%;
    background: white;
    border-radius: 10px;
    padding: 1rem 2rem 0 2rem;
    margin-bottom: 100px;
}

.contact-label {
    margin-top: 1rem;
}

.contact-field {
    color: black;
}

textarea.message {
    height: 200px;
    max-width: 100%;
    min-width: 100%;
    min-height: 30%;
}